{% extends "base.html" %}
{% load django_markdown %}
{% block nav %}
  <a class="blog-nav-item" href="{% url "index" %}">Home</a>
  <a class="blog-nav-item" href="{% url "features" %}">New features</a>
  <a class="blog-nav-item" href="{% url "press" %}">Press</a>
  <a class="blog-nav-item" href="{% url "hires" %}">New hires</a>
  <a class="blog-nav-item active" href="{% url "about" %}">About</a>
{% endblock %}
{% block blog_title %} {% endblock %}
 
{% block blog_entries %}
<div class="post"><h2>About:</h2> <p>Hi I am Sunny Jain. I am currently working in Grofers on a small project for creating a BLOG. So this is my blog which is related to random things happening in world. Enjoy...!!! :D</p></div>
{% endblock %}
