{% extends "base.html" %}
{% load django_markdown %}
{% block nav %}
  <a class="blog-nav-item" href="{% url "index" %}">Home</a>
  <a class="blog-nav-item active" href="{% url "features" %}">New features</a>
  {% if not user.is_authenticated %}
    <a class="blog-nav-item" href="{% url "login" %}">Log In</a>
    <a class="blog-nav-item" href="{% url "register" %}">Register</a>
  {% else %}
    <a class="blog-nav-item" href="{% url "profile" slug=user.username|slugify %}"> {{ user.get_username }}</a>
    <a class="blog-nav-item" href="{% url "logout" %}">Log Out</a>
  {% endif %}
{% endblock %}
{% block blog_title %} {% endblock %}
 
{% block blog_entries %}
<div class="post">
  <h2 align="center"> Features : </h2>
    <p>
      <ul>
        <li>Pagintation is used to show the content in pages.</li>
        <li>Read more feature is used at the end of the content of each entry on home page.</li>
        <li>Image is used in the content.</li>
        <li>Tags are used for every entry as an attribute of each entry.</li>
        <li>Entry are sorted in reversed order of date modified.</li>
      </ul>
    </p>
  </div>
{% endblock %}
