{% extends "base.html" %}
{% load django_markdown %}
{% block nav %}
  <a class="blog-nav-item" href="{% url "index" %}">Home</a>
  <a class="blog-nav-item" href="{% url "features" %}">New features</a>
  <a class="blog-nav-item" href="{% url "press" %}">Press</a>
  <a class="blog-nav-item active" href="{% url "hires" %}">New hires</a>
  <a class="blog-nav-item" href="{% url "about" %}">About</a>
{% endblock %}
{% block blog_title %} {% endblock %}
 
{% block blog_entries %}
<div class="post"><h2>Hires</h2></div>
{% endblock %}
