{% extends "base.html" %}
{% load django_markdown %}
{% block nav %}
  <a class="blog-nav-item {% if act = "home" %}active{% endif %}" href="{% url "index" %}">Home</a>
  {% for tag in alltag %}
      <a class="blog-nav-item {% if act = tag.slug %}active{% endif %}" href="{% url "tags" slug=tag.slug %}">{{ tag.slug }}</a>
  {% endfor %}
  <a class="blog-nav-item active" href="{% url "login" %}" style="float:right">Log In</a>
  <a class="blog-nav-item" href="{% url "register" %}" style="float:right">Register</a>
{% endblock %}
{% block blog_title %} 
	<div class="blog-header">
        <h1 class="blog-title">My First Blog</h1>
     </div>
{% endblock %}
 
{% block blog_entries %}
<div class="x cf">
		<form name="login" action="/authenticate/" method="get" accept-charset="utf-8" style="margin-left:20%; margin-bottom:80%">
		    <ul>
		        <li><label for="username" >Username&nbsp;&nbsp;:&nbsp;</label>
		        <input type="text" name="username" placeholder="username" required> </li>
		        <li><label for="password" style="margin-top:20%">Password&nbsp;&nbsp;:&nbsp;</label>
		        <input type="password" name="password" placeholder="password" required></li>
		        <input type="submit" value="Login" style="margin-top:10%;margin-left:40%"></li>
		    </ul>
		</form>
</div>
{% endblock %}
