{% extends "base.html" %}
{% load django_markdown %}
{% block nav %}
  <a class="blog-nav-item" href="{% url "index" %}">Home</a>
  <a class="blog-nav-item" href="{% url "features" %}">New features</a>
  {% if not user.is_authenticated %}
    <a class="blog-nav-item" href="{% url "login" %}">Log In</a>
    <a class="blog-nav-item" href="{% url "register" %}">Register</a>
  {% else %}
    <a class="blog-nav-item" href="{% url "profile" slug=user.username|slugify %}"> {{ user.get_username }}</a>
    <a class="blog-nav-item" href="{% url "logout" %}">Log Out</a>
  {% endif %}
{% endblock %}
{% block blog_entries %}
  <div class="post">
    <h2><a href="{% url "entry_detail" slug=slug %}?home">{{ object.title }}</a></h2>
    <p class="meta">
      {{ object.created }} |
      Tagged under {{  object.tags.all|join:", " }}
    </p>
    {{ object.body|markdown }}
      <input  value="{% if check == 1 %}Unlike{% else %}Like{% endif %}" id="like_btn" type="button" style="color:#fff;background:#64c8ef;pading:5px 15px;border: 1px solid rgba(0, 0, 0, 0.3);margin-right: 0;border-radius: 3px;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);" >
	 <b>&nbsp;<span id="num">{% if num %} {{num}} {% endif %}</span></b></input>
      <hr>
	  <h3><b>Comments:</b></h3> <br><br>
	  <ul id="uid">
			{% for object in comm  %}
					<li>{{object.user}}&nbsp;:&nbsp;&nbsp;{{object.value}}</li><hr>
			{% endfor %}
		</ul>
	<div ng-app="comment" ng-controller="showbut">
      <span ng-click="mydata.show_button()"><input type="text" id="comment_box" placeholder="Enter Comment" style="padding:10px;width:100% ;height:10%;margin-bottom:10px;"></input></span>
      <span ng-show="mydata.showit">
	      {% if user.is_authenticated %}
		  <input type="button" id="cmt" value="comment" style="color:#fff;background:#64c8ef;pading:5px 15px;border: 1px solid rgba(0, 0, 0, 0.3);margin-right: 0;border-radius: 3px;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);"></input> {% csrf_token %}
	      {% else %}
		  <input type="button" id="log" value="login" style="color:#fff;background:#64c8ef;pading:5px 15px;border: 1px solid rgba(0, 0, 0, 0.3);margin-right: 0;border-radius: 3px;text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);"></input>
		</span>
	</div>
  {% endif %}
		
  </div>
  <script>
		$('#like_btn').on("click", function(event) {
			event.preventDefault();
			like();
	
		});
		function like(){
			$.ajax({
				type: "GET",
				url: "{% url "entry_detail" slug=slug %}?like",
				contentType: "application/json;charset=utf-8",
				dataType: "json",
				success: function(data)
				{
					if (data['check'] == 1){
						document.getElementById("like_btn").value="Unlike";
						document.getElementById("num").innerHTML=data['num'];
					}else{
						document.getElementById("like_btn").value="Like";
						if(data['num'] != 0)
							document.getElementById("num").innerHTML=data['num'];
						else
							document.getElementById("num").innerHTML="";
					}
				}
			});
		}
		$('#cmt').on("click",function(event) {
			event.preventDefault();
			comment();	
		});
		function comment(){
			var val = document.getElementById("comment_box").value;
			if(val == ""){
				alert("Write something");
				return;
			}
			$.ajax({
				type: "GET", 
				url: "{% url "entry_detail" slug=slug %}?comment",
				contentType: "application/json;charset=utf-8",
				dataType: "json",
				data: {
					'val': val
				},
				success: function(data)
				{
					document.getElementById("comment_box").value = "";
					var list = document.getElementById("uid");
					$("<li>" + data['username'] + " : &nbsp; " + data['value'] + "</li><hr>").appendTo(list);
				}
			});
		}
		$('#log').on("click",function(event) {
			window.location="/login";		
		});
		angular.module("comment",[]).controller("showbut",function($scope){
				$scope.mydata = {};
				$scope.mydata.showit=false;
				$scope.mydata.show_button = function(){
					$scope.mydata.showit=true;
				}
		});
  </script> 
{% endblock %}
