{% extends "base.html" %}
{% load django_markdown %}
{% block nav %}
  <a class="blog-nav-item {% if act = "home" %}active{% endif %}" href="{% url "index" %}">Home</a>
  {% for tag in alltag %}
      <a class="blog-nav-item {% if act = tag.slug %}active{% endif %}" href="{% url "tags" slug=tag.slug %}">{{ tag.slug }}</a>
  {% endfor %}
  <a class="blog-nav-item" href="{% url "login" %}" style="float:right">Log In</a>
  <a class="blog-nav-item active" href="{% url "register" %}" style="float:right">Register</a>
{% endblock %}
{% block blog_title %} 
	<div class="blog-header">
        <h1 class="blog-title">My First Blog</h1>
     </div>
{% endblock %}
 
{% block blog_entries %}
<div class="x cf">
		<form name="register" action="/message/" method="get" accept-charset="utf-8" style="margin-left:20%; margin-bottom:30%">
		    <ul>
		    	<li><label for="uname">Username&nbsp;&nbsp;:&nbsp;&nbsp;</label>
		    	<input type="text" name="uname" placeholder="Username" required> </li>
		    	<li><label for="fname" style="margin-top:10%">First Name&nbsp;:&nbsp;&nbsp;</label>
		    	<input type="text" name="fname" placeholder="First Name" required> </li>
		    	<li><label for="lname" style="margin-top:10%">Last Name&nbsp;:&nbsp;&nbsp;</label>
		    	<input type="text" name="lname" placeholder="Last Name" required > </li>
		        <li><label for="usermail" style="margin-top:10%">Usermail&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
		        <input type="email" name="usermail" placeholder="email" required> </li>
		        <li><label for="password" style="margin-top:10%">Password&nbsp;&nbsp;:&nbsp;&nbsp;</label>
		        <input type="password" name="password" placeholder="password" required></li>
		        <li>
		        <li><label for="tl" style="margin-top:10%">Tagline&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
		    	<input type="text" name="tl" placeholder="Tagline"> </li>
		        <input type="submit" value="Register" style="margin-left:40%; margin-top:10%;margin-bottom:60%" onclick="msg"></li>
		    </ul>

		</form>
</div>
{% endblock %}
